#app
  .top
    h1 名片產生器
    h3 Name Card Maker
    .infotext
  .down
    .inputArea
      .inputPageOne
        span.fas.fa-edit
        span.step 第一步：請輸入您的資料
        br
        label 公司中文名稱
        input(v-model= "company.chineseName")
        br
        label 公司英文名稱
        input(v-model= "company.englishName")
        br
        label logo圖片位址
        input(v-model= "company.logoUrl")
        br
        label 你的中文姓名
        input(v-model= "user.chineseName")
        br
        label 你的英文姓名
        input(v-model= "user.englishName")
        br
        label 工作職稱
        input(v-model= "user.title")
        br
        label 手機號碼
        input(v-model= "user.phone")
        br
        label Line ID
        input(v-model= "user.lineID")
        br
        label 公司電話
        input(v-model= "company.phone")
        br
        label 分機號碼
        input(v-model= "user.ext")
        br
        label 公司地址
        input(v-model= "company.address")
        br
        label 公司網站
        input(v-model= "company.website")
        button.btnToSecond 下一步
      .inputPageTwo
        span.fas.fa-edit
        span.step 第二步：請挑選喜歡的字型和配色
        .buttons
          button.btn_cwTeXKai 標楷體
          button.btn_MicrosoftJhengHei 微軟正黑體
          button.btn_NotoSansTC 思源黑體
          br
          button.btn_cwTeXYen 圓體
          button.btn_NotoSerifTC 思源宋體
          button.btn_cwTeXFangSong 仿宋體
          button.btn_cwTeXMing 明體
        label 名片底色
        input(type='color')(v-model= "card.background")
        br
        label 深色字體顏色
        input(type='color' )(v-model= "card.fontDarkColor")
        br
        label 亮色字體顏色
        input(type='color')(v-model= "card.fontLightColor")
        br
        label 左方圖案顏色（外）
        input(type='color')(v-model= "card.backgroundImageBig")
        br
        label 左方圖案顏色（內）
        input(type='color')(v-model= "card.backgroundImageSmall")
        br
        button.btnBack 上一步
        button.btnToDone 完成！
    .cardArea
      .card(v-bind:style="{backgroundColor:card.background}")
        .frameTop(v-bind:style="{color:card.frameColor}")
        img.companyLogo(v-bind:src="company.logoUrl")
        .companyName(v-bind:style="{color:card.fontDarkColor}") {{ company.chineseName }}
        .companyEnglishName(v-bind:style="{color:card.fontLightColor}") {{ company.englishName }}
        .companyAddress(v-bind:style="{color:card.fontDarkColor}") {{ company.address }}
        .companyWebsite(v-bind:style="{color:card.fontDarkColor}") {{ company.website }}
        .userTitle(v-bind:style="{color:card.fontLightColor}") {{ user.title }}
        span.userChineseName(v-bind:style="{color:card.fontDarkColor}") {{ user.chineseName }}
        span.userEnglishName(v-bind:style="{color:card.fontDarkColor}") {{ user.englishName }}
        br
        .infos
          span.infoTitle(v-bind:style="{color:card.fontLightColor}") 電話
          span.info(v-bind:style="{color:card.fontDarkColor}") {{ company.phone }} 轉 {{ user.ext }}
          br
          span.infoTitle(v-bind:style="{color:card.fontLightColor}") 手機
          span.info(v-bind:style="{color:card.fontDarkColor}") {{ user.phone }}
          br
          span.infoTitle(v-bind:style="{color:card.fontLightColor}") LineID
          span.info(v-bind:style="{color:card.fontDarkColor}") {{ user.lineID }}
        .backgroundImageBig(v-bind:style="{backgroundColor:card.backgroundImageBig}")
        .backgroundImageSmall(v-bind:style="{backgroundColor:card.backgroundImageSmall}")
      button.btnBackToStart 再做一張
        